<html lang="ko"><head>
        <link type="text/css" href="/static/bs/css/common.css" rel="stylesheet">
        <link type="text/css" href="/static/bs/css/main.common.css" rel="stylesheet">
        <link type="text/css" href="/static/bs/css/main.register.css" rel="stylesheet">
    </head>
    <div id="container">
    <div class="row text-center pad-top ">
        <div class="col-md-12">
            <h2>회원가입</h2>
        </div>
    </div>
    
    <div class="row pad-top">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"> 
                </div>
                <div class="panel-body">
                    <form id="register" action="{{ action }}" method="POST">{% csrf_token %}<br/> 
                        
                            <input type="text" name="job" maxlength="20" class="text"  autocomplete="off" value="employer" hidden>
                            <span class="description"></span>
                            <div class="row text-center pad-top ">
                                    <div class="col-md-12">
                                        <h3>ID</h3>
                                    </div>
                                </div>
                        <p>
                            <input type="text" name="username" maxlength="20" class="text"  autocomplete="off" value="{{ username }}">
                            <span class="description"></span>
                        </p>
                        {% if username_info %}<h6 class="alert alert-danger">이미존재하는 아이디입니다.</h6>{% endif %}
                        <br>
                        <div class="row text-center pad-top ">
                                <div class="col-md-12">
                                    <h3>Password</h3>
                                </div>
                            </div>
                        <p>
                            <input type="password" name="password" maxlength="20" class="text" autocomplete="off">
                            <span class="description"></span>
                        </p>
                        <br>
                        <div class="row text-center pad-top ">
                                <div class="col-md-12">
                                    <h3>Password 확인</h3>
                                </div>
                            </div>
                        <p>
                            <input type="password" name="chkpw" maxlength="20" class="text" autocomplete="off">
                            <span class="description"></span>
                        </p>
                        
                        {% if password_info %}<h4 class="alert alert-danger">잘못된 패스워드 입력</h4>{% endif %}
                        <br>
                        <div class="row text-center pad-top ">
                                <div class="col-md-12">
                                    <h3>기업/기관 명</h3>
                                </div>
                            </div>
                        <p>
                            <input type="text" name="company" maxlength="20" class="text" autocomplete="off" value="{{ company }}">
                            <span class="description"></span>
                        </p>
                        <br>
                        <div class="row text-center pad-top ">
                                <div class="col-md-12">
                                    <h3>대표자 이름</h3>
                                </div>
                            </div>
                        <p>
                            <input type="text" name="name" maxlength="20" class="text" autocomplete="off" value="{{ name }}">
                            <span class="description"></span>
                        </p>
                        <br>
                        <div class="row text-center pad-top ">
                                <div class="col-md-12">
                                    <h3>이메일</h3>
                                </div>
                            </div>
                        <p>
                            <input type="email" name="email" maxlength="20" class="text" autocomplete="off" value="{{ email }}">
                            <span class="description"></span>
                        </p>
                        <br>
                        <div class="row text-center pad-top ">
                                <div class="col-md-12">
                                    <h3>기관 주소</h3>
                                    <h4>( 예시 : ㅇㅇ도(특별시) ㅇㅇ시 ㅇㅇ구 )</h4>
                                </div>
                            </div>
                        <p>
                            <input type="text" name="address" maxlength="20" class="text" autocomplete="off" value="{{ address }}">
                            <span class="description"></span>
                        </p>
                        <br>
                        <div class="row text-center pad-top ">
                                <div class="col-md-12">
                                    <h3>대표 전화번호</h3>
                                </div>
                            </div>
                        <p>
                            <input type="text" name="phone_num" maxlength="20" class="text" autocomplete="off" value="{{ phone_num }}">
                            <span class="description"></span>
                        </p>
                        
                        
                        
                        
                            <input type="text" name="company" maxlength="20" class="text" autocomplete="off" value="none" hidden>
                            <span class="description"></span>
                        
                        
                        <p class="submit" style="display: block;"><input type="submit" value="회원가입" class="text"></p>
                        <hr />
                        이미 등록 되어 있습니까?
                        <a href="{% url 'login' %}" >여기로 로그인</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>