{% load static %}
<!DOCTYPE html>
<html>
    <head>
            <meta charset="utf-8">
            <link rel="stylesheet" href="{% static 'bs/css/register.css' %}">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <style>
                    html, body {
                        height: 100%;
                        background-color: white;
                    }
                    </style>
    </head>
    <body>
        <div class="btn_group">
        <span>왜 안이쁠까</span>
        <div style="float:left;margin-right:17%; margin-left:31%; margin-top:4%;">
                <img src="/static/bs/images/student.png" width="200" height="200"></div>
                <div class="vl" style="float:top; margin-top:13%;"></div>
                <div style="float:left;margin-top:4%;">
                <img src="/static/bs/images/employer.png" width="200" heigth="200"></div>
                <form action="{%url 'join1'%}"> 
               <br><br><br><br><br><br><br><br><br><br><br>
               <button id="employee" style="width:7%; height:50px; float:left;margin-right:20.6%; margin-left:32.5%; margin-top:4%;">대학생</button></form> 
               <form action="{%url 'join2'%}"> 
                   <button id="employer" style="width:7%; height:50px; float:left;margin-right:0.7%; margin-top:4%;">고용주</button></form>
               </div>
           </body>
       </html>