{% load static %}
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Daepa</title>
    <link rel="shortcut icon" type="image/x-icon"
        href="https://www.lifeplus.co.kr/_resource/_web/images/favicon4.ico?1">
    <link rel="stylesheet" type="text/css" href="https://www.lifeplus.co.kr/_resource/_web/css/common.css">
    <script src="https://connect.facebook.net/signals/config/253252985080421?v=2.9.1&amp;r=stable" async=""></script>
    <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
    <script async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script src="https://www.lifeplus.co.kr/_resource/js/vendor/jquery-1.9.1.min.js"></script>
    <script src="https://www.lifeplus.co.kr/_resource/js/vendor/TweenMax.min.js"></script>
    <script src="https://www.lifeplus.co.kr/_resource/_web/js/common.js"></script>
    <script src="https://www.lifeplus.co.kr/_resource/js/common.js"></script>
    <link type="text/css" href="/static/bs/css/tablemain.css" rel="stylesheet">
    <link type="text/css" href="/static/bs/css/tableutil.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://www.lifeplus.co.kr/_resource/_web/css/main.css">
    <script src="https://www.lifeplus.co.kr/_resource/js/vendor/jquery.easeScroll.js"></script>
    <script>
        var rootDomain = "#";
        var resourceDomain = "#";
    </script>

    <link rel="stylesheet" type="text/css" href="{% static 'bs/css/realmain.css' %}">
</head>

<body>
    <div style="text-align:center;">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALcAAAETCAMAAABDSmfhAAAAA1BMVEUAAACnej3aAAAASElEQVR4nO3BgQAAAADDoPlT3+AEVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB8A8WoAAHxScUAAAAAAElFTkSuQmCC"
            style="width:70%; height:40%;">
        <img src="/static/bs/images/cogi.jpg">
    </div>
    <div id="header">
        <div class="navi" style="top: 0px;">

            <ul class="nav_top">

                <div style="float:left;">
                    <h1>
                        <a href="" class="btn_logo" onclick="eventTrack('');" title="대파"><span class="ir_text">대
                                파</span></a>
                    </h1>
                </div>

                <div style="float:right;">
                    {% if user.is_authenticated %}
                    <li>
                        <a href="#">
                            <h2>{{ user.profile.name }}님 환영합니다.</h2>
                            <h2>{{user.profile.interest}}</h2>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'modi' %}">
                            <h2>정보수정</h2>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            <h2>로그아웃</h2>
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'reg_account' %}">
                            <h2>회원가입</h2>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}">
                            <h2>로그인</h2>
                        </a>
                    </li>
                    {% endif %}
                </div>

            </ul>
            <script>
                $('.nowMove').click(function () {
                    localStorage.removeItem('search');
                    localStorage.removeItem('sTop');
                    localStorage.removeItem('page');
                    localStorage.removeItem('order');
                    localStorage.removeItem('value');
                    localStorage.removeItem('back');
                });
            </script>
            <script src="https://www.lifeplus.co.kr/app/blog/sp4/web/js/newsLetter.js" charset="UTF-8"></script>
            <script src="https://www.lifeplus.co.kr/_resource/_web/js/main.js"></script>

        </div>
        <div style="padding: 40px 15%;">
            <div style="height: 90px;
            display: block;
            position: relative;
            padding-right: 30px;
            padding-left: 30px;
            width : 1300p100%;
            background: #ED3847;
            border-radius: 3px;">
                <h2 style="color: aliceblue; font-weight:lighter; padding: 30px; 15px;">대학생에게 경험을 주세요!
                    <a href="{% url 'gonggo:form' %}" type="button" style="right: 30px;
            color: #ED3847;
            font-size: 15px;
            font-weight: 600;
            padding: 10px 40px;
            border-radius: 3px;
            background-color: #fff;
            float:right;">공고 등록하기</a></h2>
            </div>
            
                
                <div class="container-table100" style="background-color: white; padding: 50px 0; height: 990px; align-items: initial; width: 100%; justify-content:initial; max-width:none;">
                <div class="wrap-table100" style="width:100%; border-radius: 3px">
                <div class="table">
                <div class="row header" style="background: #ed3847;">
                <div class="cell">
                Full Name
                </div>
                <div class="cell">
                Age
                </div>
                <div class="cell">
                Job Title
                </div>
                <div class="cell">
                Location
                </div>
                </div>
                <div class="row">
                <div class="cell" data-title="Full Name">
                Vincent Williamson
                </div>
                <div class="cell" data-title="Age">
                31
                </div>
                <div class="cell" data-title="Job Title">
                iOS Developer
                </div>
                <div class="cell" data-title="Location">
                Washington
                </div>
                </div>
                <div class="row">
                <div class="cell" data-title="Full Name">
                Joseph Smith
                </div>
                <div class="cell" data-title="Age">
                27
                </div>
                <div class="cell" data-title="Job Title">
                Project Manager
                </div>
                <div class="cell" data-title="Location">
                Somerville, MA
                </div>
                </div>
                <div class="row">
                <div class="cell" data-title="Full Name">
                Justin Black
                </div>
                <div class="cell" data-title="Age">
                26
                </div>
                <div class="cell" data-title="Job Title">
                Front-End Developer
                </div>
                <div class="cell" data-title="Location">
                Los Angeles
                </div>
                </div>
                <div class="row">
                <div class="cell" data-title="Full Name">
                Sean Guzman
                </div>
                <div class="cell" data-title="Age">
                25
                </div>
                <div class="cell" data-title="Job Title">
                Web Designer
                </div>
                <div class="cell" data-title="Location">
                San Francisco
                </div>
                </div>
                <div class="row">
                <div class="cell" data-title="Full Name">
                Keith Carter
                </div>
                <div class="cell" data-title="Age">
                20
                </div>
                <div class="cell" data-title="Job Title">
                Graphic Designer
                </div>
                <div class="cell" data-title="Location">
                New York, NY
                </div>
                </div>
                <div class="row">
                <div class="cell" data-title="Full Name">
                Austin Medina
                </div>
                <div class="cell" data-title="Age">
                 32
                </div>
                <div class="cell" data-title="Job Title">
                Photographer
                </div>
                <div class="cell" data-title="Location">
                New York
                </div>
                </div>
                <div class="row">
                <div class="cell" data-title="Full Name">
                Vincent Williamson
                </div>
                <div class="cell" data-title="Age">
                31
                </div>
                <div class="cell" data-title="Job Title">
                iOS Developer
                </div>
                <div class="cell" data-title="Location">
                Washington
                </div>
                </div>
                <div class="row">
                <div class="cell" data-title="Full Name">
                Joseph Smith
                </div>
                <div class="cell" data-title="Age">
                27
                </div>
                <div class="cell" data-title="Job Title">
                Project Manager
                </div>
                <div class="cell" data-title="Location">
                Somerville, MA
                </div>
                </div>
                </div>
                </div>
                </div>
                
                
                <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script src="vendor/jquery/jquery-3.2.1.min.js" type="text/javascript"></script>
                
                <script src="vendor/bootstrap/js/popper.js" type="text/javascript"></script>
                <script src="vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
                
                <script src="vendor/select2/select2.min.js" type="text/javascript"></script>
                
                <script src="js/main.js" type="text/javascript"></script>
                
                <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="text/javascript"></script>
                <script type="text/javascript">
                      window.dataLayer = window.dataLayer || [];
                      function gtag(){dataLayer.push(arguments);}
                      gtag('js', new Date());
                
                      gtag('config', 'UA-23581568-13');
                    </script>
                  <table class="table table-hover">
                        <tr>
                            <th class="col-md-1 text-center">번호</th>
                            <th class="col-md-2 text-center">채용제목</th>
                            <th class="col-md-6 text-center">모집직종</th>
                            <th class="col-md-2 text-center">근무예정지</th>
                            <th class="col-md-1 text-center">핸드폰번호</th>
                        </tr>
                        {% for item in gonggo %}
                            <tr>
                                <td class="col-md-1 text-center">{{ item.id }}</td>
                                <td class="col-md-2 text-center">{{ item.title }}</td>
                                <td class="col-md-6"><a href="{% url 'gonggo:detail' item.id %}">{{ item.interest }}</a></td>
                                <td class="col-md-2 text-center">{{ item.workDetail }}</td>
                                <td class="col-md-1 text-center">{{ item.phonenum }}</td>
                            </tr>
                        {% endfor %}
                    </table>
        


            </div>
        </div>
    </div>
</body>

</html>