{% load static %}
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- ctrl+k+c : 다중주석
ctrl+k+u : 다중주석해제 -->
    <title>대파(대학생 파트타임)</title>
    <!-- <meta property="og:url" content="https://www.daepa.co.kr">
<meta property="og:title" content="대파(대학생 파트타임)">
<meta property="og:type" content="website">
<meta property="og:image" content="https://www.lifeplus.co.kr/_resource/_web/images/sns_img10.jpg">
<meta property="og:description" content="새로워진 한화금융의 LIFEPLUS"> -->
    <!-- <meta name="description" content="새로워진 한화금융의 LIFEPLUS"> -->

    <!-- 파비콘 16x16-->
    <link rel="shortcut icon" type="image/x-icon"
        href="https://www.lifeplus.co.kr/_resource/_web/images/favicon4.ico?1">
    <link rel="stylesheet" type="text/css" href="https://www.lifeplus.co.kr/_resource/_web/css/common.css">
    <script src="https://connect.facebook.net/signals/config/253252985080421?v=2.9.1&amp;r=stable" async=""></script>
    <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
    <script async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script src="https://www.lifeplus.co.kr/_resource/js/vendor/jquery-1.9.1.min.js"></script>
    <script src="https://www.lifeplus.co.kr/_resource/js/vendor/TweenMax.min.js"></script>
    <script src="https://www.lifeplus.co.kr/_resource/_web/js/common.js"></script>
    <script src="https://www.lifeplus.co.kr/_resource/js/common.js"></script>



    <!-- Facebook Pixel Code -->
    <!-- <script>
    if(location.href.indexOf('lifeplus.co.kr') >= 1){
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '253252985080421');
        fbq('track', 'PageView');
    }
</script>
<noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=253252985080421&ev=PageView&noscript=1"/>
</noscript> -->
    <!-- End Facebook Pixel Code -->

    <link rel="stylesheet" type="text/css" href="https://www.lifeplus.co.kr/_resource/_web/css/main.css">
    <script src="https://www.lifeplus.co.kr/_resource/js/vendor/jquery.easeScroll.js"></script>
    <script>
        var rootDomain = "#";
        var resourceDomain = "#";
    </script>

    <link rel="stylesheet" type="text/css" href="{% static 'bs/css/realmain.css' %}">
</head>

<body>
    <div style="text-align:center;">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALcAAAETCAMAAABDSmfhAAAAA1BMVEUAAACnej3aAAAASElEQVR4nO3BgQAAAADDoPlT3+AEVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB8A8WoAAHxScUAAAAAAElFTkSuQmCC"
            style="width:90%; height:40%;">
        <img src="/static/bs/images/cogi.jpg">
    </div>
    <div id="header">
        <div class="navi" style="top: 0px;">

            <!--서브 바-->
            <!-- <div class="sub_link_bg">
            <h1>
                <a href="" class="btn_logo" onclick="eventTrack('');" title="대파"><span class="ir_text">대 파</span></a>
            </h1> -->



            <!-- 메인페이지 NAV BAR로 넣을 것임-->
            <ul class="nav_top">

                <div style="float:left;">
                    <h1>
                        <a href="" class="btn_logo" onclick="eventTrack('');" title="대파"><span class="ir_text">대
                                파</span></a>
                    </h1>
                </div>

                <!-- <li class="sub">
                    <a href="https://www.lifeplus.co.kr/about" class="mot2" onclick="eventTrack('lifeplus2019_gnb_about');"><span class="en">ABOUT</span></a>
                    <div class="sub_link sub_link_about" style="width: 621px;">
                        <a href="https://www.lifeplus.co.kr/about" onclick="eventTrack('lifeplus2019_gnb_about');" class="sub_a mot2"><span>ABOUT LIFEPLUS</span></a>
                        <a href="https://www.lifeplus.co.kr/about/bi" onclick="eventTrack('lifeplus2019_gnb_bi');" class="sub_a mot2"><span>BI/VI</span></a>
                        <a href="https://www.lifeplus.co.kr/about/lounge" onclick="eventTrack('lifeplus2019_gnb_about_lounge');" class="sub_a mot2"><span>LOUNGE</span></a>
                    </div>
                </li>
                <li><a href="https://www.lifeplus.co.kr/service" class="mot2" onclick="eventTrack('lifeplus2019_gnb_service');"><span class="en">SERVICE</span></a></li>
                
                <li class="sub">
                    <a href="https://www.lifeplus.co.kr/lifeplusx" class="mot2" onclick="eventTrack('lifeplus2019_gnb_promo_history');"><span class="en">PROMOTION</span></a>
                    <div class="sub_link sub_link_promotion" style="width: 621px;">
                        
                        
                        
                        
                        <a href="https://www.lifeplus.co.kr/lifeplusx" onclick="eventTrack('lifeplus2019_gnb_promo_history');" class="sub_a mot2"><span>GALLERY</span></a>
                        <a href="https://www.lifeplus.co.kr/cinemaweek2019" onclick="eventTrack('lifeplus2019_gnb_promo_cinemaweek2019');" class="sub_a mot2"><span>시네마위크</span></a>
                        <a href="https://www.lifeplus.co.kr/ambassador" onclick="eventTrack('lifeplus2019_gnb_promo_ambassador5th');" class="sub_a mot2"><span>앰배서더5기모집</span></a>
                        
                        

                        
                        
                    </div>
                </li>
                <li><a href="https://www.lifeplus.co.kr/now" class="mot2 nowMove" onclick="eventTrack('lifeplus2019_gnb_story');"><span class="en">STORY</span></a></li>
                
                <li><a href="https://www.lifeplus.co.kr/ambassador" class="mot2 nowMove" onclick="eventTrack('lifeplus2019_gnb_ambassador');"><span>AMBASSADOR</span></a></li>
                <li><a href="https://www.lifeplus.co.kr/notification" class="mot2" onclick="eventTrack('lifeplus2019_gnb_notification');"><span>NOTIFICATION</span></a></li> -->

                <div style="float:right;">
                    {% if user.is_authenticated %}
                    <li>
                        <a href="#">
                            <h2>{{ user.profile.name }}님 환영합니다.</h2>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'modi' %}">
                            <h2>정보수정</h2>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            <h2>로그아웃</h2>
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'reg_account' %}">
                            <h2>회원가입</h2>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}">
                            <h2>로그인</h2>
                        </a>
                    </li>
                    {% endif %}
                </div>

            </ul>
            <script>
                $('.nowMove').click(function () {
                    localStorage.removeItem('search');
                    localStorage.removeItem('sTop');
                    localStorage.removeItem('page');
                    localStorage.removeItem('order');
                    localStorage.removeItem('value');
                    localStorage.removeItem('back');
                });
            </script>
            <script src="https://www.lifeplus.co.kr/app/blog/sp4/web/js/newsLetter.js" charset="UTF-8"></script>
            <script src="https://www.lifeplus.co.kr/_resource/_web/js/main.js"></script>

        </div>
        <button>VIEW MORE</button>
        <br>
        <a href="{% url 'gonggo:index' %}"><h2>공고</h2></a>


    </div>
</body>

</html>