@charset "utf-8";
/*
CSS Hack
IE6 이하만 : _color: white
IE7 이하만 : *color: white
*/

* { margin: 0; padding: 0; }
body,div,nav,aside,article,h1,h2,h3,h4,ol,ul,li,dl,dt,dd,p,span,form,th,td,input,textarea,select,pre,address { color: #666; font-family: "맑은 고딕", 돋움, tahoma; _font-family: 돋움, tahoma; font-size: 12px; letter-spacing: -1px; }
body { background-color: #f8f8f8; }
body.selectDisabled { -ms-user-select: none; -moz-user-select: none; -webkit-user-select: none; user-select: none; }
img { border: 0; }
div,nav,aside,article,figure { display: block; }
dl,ul,ol,menu,li { list-style:none; }
img,input,select,textarea { vertical-align: middle; }
a { color: #666; text-decoration: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
em { font-style: normal; font-weight: bold; }
em.underline { font-style: normal; font-weight: normal; text-decoration: underline; }
address { font-style: normal; }
label.forinsert { display: none; }
input[type="button"],input[type="submit"],input[type="search"] {
   -webkit-appearance: none;
}

.bold { font-weight: bold !important; }
.floatLeft { float: left !important; }
.floatRight { float: right !important; }
.clearBoth { clear: both !important; }
.clearBothOnly { clear: both !important; margin: 0 !important; padding: 0 !important; height: 0 !important; }
.left { text-align: left !important; }
.right { text-align: right !important; }
.center { text-align: center !important; }
.pointer { cursor: pointer !important; }
.hide { display: none !important; }
.show { display: block !important; }
.modal { display: none; position: fixed; z-index: 1000; left: 50%; top: 50%; background-color: #fff; }
.modalwrap { position: fixed; z-index: 999; left: 0; top: 0; width: 100%; height: 100%; background-color: #000; opacity: .5; filter: alpha(opacity=50); }
.modalwrap.lighter { opacity: .2; filter: alpha(opacity=20); }

/* * * * * * * * * * * * * * * * * * * * * * * * *  /  mobile only  /  * * * * * * * * * * * * * * * * * * * * * * * * */

@media only screen and (max-width: 640px) {
   .mobilehide {
      display: none;
   }
}

$border-bottom-input: 1px dashed rgba(255, 255, 255, 0.25);
$border-bottom-input-focus: 1px solid rgba(255, 255, 255, 0.75);
$border-bottom-transition: border-bottom 0.5s ease;

body {
  background: #111;
  color: #fff;
  font-family: 'Courier New', monospace;
  font-size: 15px;
  min-height: 100vh;
}

.center {
  display: flex;
  min-height: 100vh;
}

.radio-group {
    margin: auto;
    display: flex;
  
    @media (max-width: 48em) {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }
}

.radio-group-label {
    display: block;
    width: 100%;
    margin: 10px 0;
}

.radio-label {
    position: relative;
    display: inline-block;
    margin: 10px;

    @media (max-width: 48em) {
        display: block;
        margin: 10px 0;
    }

    input {
        opacity: 0;
        position: absolute;
    }

    .inner-label {
        position: relative;
        display: inline-block;
        padding-left: 40px;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            border-bottom: $border-bottom-input;
            width: 30px;
            transition: $border-bottom-transition;
        }
    }

    input:focus ~ .inner-label {
        &:before {
            border-bottom: $border-bottom-input-focus;
        }
    }

    input:checked ~ .inner-label {
        &:after {
            content: '\2713';
            color: #fff;
            position: absolute;
            font-size: 12px;
            left: 12px;
            top: 1px;
        }
    }
}