span {
    width: 100%;
    line-height: 500%;
    display:block;
    text-align: center;
    font-size:40px;
    font-weight:bold;
    font-family: NanumGothic;
 }
.btn_group button {
    border: 1px solid #ED3847;
    background-color: #ED3847;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 20px;
    font-weight:bold;
    cursor: pointer;
    font-family: NanumGothic;
}
.vl {
    border-left: 6px solid #ED3847;
    height: 45%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }