{% extends "index.html" %}
{% block title %}게시판 리스트{% endblock %}
{% block content %}
<div class="row">
    {% if user.is_authenticated %}
        <button class="btn btn-default btn-sm"
        onclick="location.href='{% url 'board:add' %}'">추가</button>
    {% else %}
        <button class="btn btn-default btn-sm"
        onclick="location.href='{% url 'login' %}'">추가</button>
    {% endif %}
</div>
<div class="row">
    <table class="table table-hover">
        <tr>
            <th class="col-md-1 text-center">번호</th>
            <th class="col-md-2 text-center">종류</th>
            <th class="col-md-6 text-center">제목</th>
            <th class="col-md-2 text-center">작성자</th>
            <th class="col-md-1 text-center">조회수</th>
        </tr>
        {% for item in board %}
            <tr>
                <td class="col-md-1 text-center">{{ item.id }}</td>
                <td class="col-md-2 text-center">{{ item.sub_title }}</td>
                <td class="col-md-6"><a href="{% url 'board:detail' item.id %}">{{ item.title }}</a></td>
                <td class="col-md-2 text-center">{{ item.author }}</td>
                <td class="col-md-1 text-center">{{ item.view_cnt }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

