<html lang="ko">

<head>

</head>

<body>
    <div id="contents">
        
            

        <!-- validator -->
        <script src="/plugin/validator/multifield.js"></script>
        <script src="/plugin/validator/validator.js"></script>
        <script src="/common/js/jquery.form.js"></script>
        <link rel="stylesheet" href="/plugin/jquery-ui-1.12.1.custom/jquery-ui.css">
        <script src="/plugin/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
        <script src="/plugin/jquery-ui-1.12.1.custom/jquery-datepicker-ko.js"></script>
        <div class="ui uit type1">
            <div class="inner">
                <span class="tp_icon circle bsn">
                    <span class="tp_icon icon mypage_img_01 bsn"></span>
                </span>
                <div style="text-align: center;"><h1>[ 공고등록 ]</h1></div>
                <div class="txtwrap">
                    
                    <ul class="list_1st">
                        <li>취업지원기관 구인, 구직 알선 담당자가 구인신청서의 요구사항에 해당하는 구직자를 선별하여 알선해 드립니다.</li>
                        <li>구인신청서의 내용을 상세하게 작성하시면, 적합한 인재를 신속하게 채용하실 수 있습니다.</li>
                        <li>인증된 채용정보는 인증일로 부터 다음일(인증기관 근무일 기준) 18시까지 수정이 불가하므로, 구인신청서 정보를 수정하길 원하실 경우 인증기관으로 문의하시기 바랍니다.</li>
                    </ul>
                </div>
            </div>
        </div>

        <!--채용상세-->
        <div class="jobViewWrap myRespon_db">
            <!--상세-->
            <article class="job_detail mt20">
                <form id="spmForm" enctype="multipart/form-data" method="post">
                    <div class="job_detail_summary">
                        <p class="tar mb5"><span class="fc_red">*</span>는 필수 입력사항 입니다.</p>
                        <!--채용제목-->
                        <table border="0" class="tableStyle_thleft col border_bottom_none">
                            <colgroup>
                                <col width="25%">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row"><label for="title">채용제목 <span class="fc_red">*</span></label></th>
                                    <td class="item"><input name="title" type="text" id="title" title="채용제목 입력"
                                            class="width95p" required=""></td>
                                </tr>
                            </tbody>
                        </table>
                        <!--모집요강-->
                        <div id="job_summary01" class="mt50">
                            <h4>모집요강</h4>
                            <table border="0" class="tableStyle_thleft col">
                                
                                <colgroup>
                                    <col width="25%">
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th scope="row"><label for="oneDep">모집직종 <span class="fc_red">*</span></label>
                                        </th>
                                        <td id="item">
                                            <select id="oneDep" name="oneDep" title="모집직종선택" class="width30p mr3"
                                                onchange="fn_changeKind('kindNo',this,'select');" required="required">
                                                <option value="">선택</option>

                                                <option value="0">경영·사무·금융·보험직</option>

                                                <option value="1">연구직 및 공학 기술직</option>

                                                <option value="2">교육·법률·사회복지·경찰·소방직 및 군인</option>

                                                <option value="3">보건·의료직</option>

                                                <option value="4">예술·디자인·방송·스포츠직</option>

                                                <option value="5">미용·여행·숙박·음식·경비·청소직</option>

                                                <option value="6">영업·판매·운전·운송직</option>

                                                <option value="7">건설·채굴직</option>

                                                <option value="8">설치·정비·생산직</option>

                                                <option value="9">농림어업직</option>

                                            </select>
                                        </td>
                                        <td>
                                        </tr>
                                        <tr></tr>    
                                        <th scope="row"><label for="workDetail">직무내용 <span
                                                    class="fc_red">*</span></label></th>
                                        </td>
                                        <td class="item">
                                            
                                            <textarea name="workDetail" id="workDetail" cols="50" rows="5"
                                                class="width95p mt5" title="직무내용 입력" required=""
                                                onkeyup="chkByte(this,800);"></textarea>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <th scope="row"><label for="minEducation">학력 <span
                                                    class="fc_red"></span></label></th>
                                        <td class="item">
                                            <select name="minEducation" title="학력선택" id="minEducation"
                                                required="required">
                                                <option value="">학력선택</option>

                                                <option value="1">초졸이하</option>

                                                <option value="2">중졸</option>

                                                <option value="3">고졸</option>

                                                <option value="4">대졸(2~3년)</option>

                                                <option value="5">대졸(4년)</option>

                                                <option value="6">석사</option>

                                                <option value="7">박사</option>

                                                <option value="NO_EDUCATION">학력무관</option>

                                            </select>
                                            ~
                                            <select name="highEducation" id="highEducation" title="학력선택"
                                                required="required">
                                                <option value="">학력선택</option>

                                                <option value="1">초졸이하</option>

                                                <option value="2">중졸</option>

                                                <option value="3">고졸</option>

                                                <option value="4">대졸(2~3년)</option>

                                                <option value="5">대졸(4년)</option>

                                                <option value="6">석사</option>

                                                <option value="7">박사</option>

                                                <option value="NO_EDUCATION">학력무관</option>

                                            </select>
                                            <input type="checkbox" name="noEducation" value="Y" id="noEducation"
                                                title="관계없음" class="ml5 mr3" onclick="fn_noEducation(this);"><label
                                                for="noEducation">관계없음</label>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <th scope="row"><label for="hireCount">모집인원 <span
                                                    class="fc_red">*</span></label></th>
                                        <td class="item"><input name="hireCount" type="text" value="" id="hireCount"
                                                title="모집인원" class="width40p" required="" onkeyup="onlyNumber(this);"
                                                maxlength="4"> 명</td>
                                    </tr>
                                    
                                    <tr>
                                        <th scope="row">회사주소<span class="fc_red">*</span></th>
                                        <td class="item">
                                            
                                            
                                            <input id="companyAddr2" name="companyAddr2" title="상세주소"
                                                class="width95p mt5" type="text" value="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">근무예정지 <span class="fc_red">*</span></th>
                                        <td>
                                            <div class="mb5">
                                                <input name="serviceLocation" type="radio" id="serviceLocation3"
                                                    value="company" title="회사주소와 동일"> <label for="serviceLocation3"
                                                    class="mr15">회사주소와 동일</label>
                                                <input name="serviceLocation" type="radio" id="serviceLocation4"
                                                    value="etc" title="기타 다른 사업체" checked=""> <label
                                                    for="serviceLocation4" class="mr15">기타 다른 사업체</label>
                                            </div>
                                            <div class="item">
                                               
                                                <input id="serviceAddr2" name="serviceAddr2" title="상세주소"
                                                    class="width95p mt5" type="text" value="">
                                                <input name="location" id="location" type="hidden">
                                            </div>
                                            
                                        </td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                        <!--//모집요강-->

                        <!--근무조건-->
                        <div id="job_summary02" class="mt50">
                            <h4>근무조건</h4>
                            <table border="0" class="tableStyle_thleft col">
                                <colgroup>
                                    <col width="25%">
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th scope="row"><label for="salary">임금조건 <span class="fc_red">*</span></label>
                                        </th>
                                        <td>
                                            <div class="item">
                                                <select name="hireMoneyType" id="salary" title="임금 유형을 선택하세요"
                                                    onchange="fn_changePayType(this);">

                                                    <option value="SALARY_YEAR" label="연봉">연봉</option>

                                                    <option value="SALARY_MONTH" label="월급">월급</option>

                                                    <option value="SALARY_DAY" label="일급">일급</option>

                                                    <option value="SALARY_TIME" label="시급">시급</option>

                                                </select>
                                                <input type="text" size="10" name="minMoney" id="minMoney" value=""
                                                    title="최소금액" class="width100px mr3" required="required"
                                                    onkeyup="onlyNumber(this); num_format(this);" maxlength="13"> 원 이상 ~
                                                <input type="text" size="10" name="highMoney" id="highMoney" value=""
                                                    title="최대금액" class="width100px ml3" required="required"
                                                    onkeyup="onlyNumber(this); num_format(this);" maxlength="13"> 원 이하
                                                
                                            </div>
                            
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <th scope="row"><label for="workTime">소정근로시간 <span
                                                    class="fc_red">*</span></label></th>
                                        <td class="item">
                                            주 <input name="workTime" type="text" value="" id="workTime" title="근무시간"
                                                class="width100px mr3 ml3" required="required"
                                                onkeyup="onlyNumber(this);" maxlength="3">시간 (예 : 주 40 또는 44시간)
                                            <span class="db cm mt3"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">근무형태 <span class="fc_red">*</span></th>
                                        <td>
                                            <div>
                                                <input name="workType" type="radio" id="workType1" value="5"
                                                    title="주 5일" checked="checked" required="required"> <label
                                                    for="workType1" class="mr15">주 5일이상</label>
                                                <input name="workType" type="radio" id="workType2" value="4"
                                                    title="주 4일" required="required"> <label for="workType2"
                                                    class="mr15">주 4일</label>
                                                <input name="workType" type="radio" id="workType3" value="3"
                                                    title="주 3일" required="required"> <label for="workType3"
                                                    class="mr15">주 3일</label>
                                                <input name="workType" type="radio" id="workType4" value="2"
                                                    title="주 2일" required="required"> <label for="workType4"
                                                    class="mr15">주 2일</label>
                                                <input name="workType" type="radio" id="workType5" value="1"
                                                    title="주 1일" required="required"> <label for="workType5"
                                                    class="mr15">주 1일</label>
                                                
                                            </div>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><label for="stWorkTime">근무시간 <span
                                                    class="fc_red">*</span></label></th>
                                        <td>
                                            <div class="item">
                                                <select name="stWorkTime" id="stWorkTime" title="시작시간"
                                                    required="required">
                                                    <option value="" label="시작시간">시작시간</option>

                                                    <option value="WORK_TIME_01" label="(자정)0시00분">(자정)0시00분</option>

                                                    <option value="WORK_TIME_02" label="(오전)0시30분">(오전)0시30분</option>

                                                    <option value="WORK_TIME_03" label="(오전)1시00분">(오전)1시00분</option>

                                                    <option value="WORK_TIME_04" label="(오전)1시30분">(오전)1시30분</option>

                                                    <option value="WORK_TIME_05" label="(오전)2시00분">(오전)2시00분</option>

                                                    <option value="WORK_TIME_06" label="(오전)2시30분">(오전)2시30분</option>

                                                    <option value="WORK_TIME_07" label="(오전)3시00분">(오전)3시00분</option>

                                                    <option value="WORK_TIME_08" label="(오전)3시30분">(오전)3시30분</option>

                                                    <option value="WORK_TIME_09" label="(오전)4시00분">(오전)4시00분</option>

                                                    <option value="WORK_TIME_10" label="(오전)4시30분">(오전)4시30분</option>

                                                    <option value="WORK_TIME_11" label="(오전)5시00분">(오전)5시00분</option>

                                                    <option value="WORK_TIME_12" label="(오전)5시30분">(오전)5시30분</option>

                                                    <option value="WORK_TIME_13" label="(오전)6시00분">(오전)6시00분</option>

                                                    <option value="WORK_TIME_14" label="(오전)6시30분">(오전)6시30분</option>

                                                    <option value="WORK_TIME_15" label="(오전)7시00분">(오전)7시00분</option>

                                                    <option value="WORK_TIME_16" label="(오전)7시30분">(오전)7시30분</option>

                                                    <option value="WORK_TIME_17" label="(오전)8시00분">(오전)8시00분</option>

                                                    <option value="WORK_TIME_18" label="(오전)8시30분">(오전)8시30분</option>

                                                    <option value="WORK_TIME_19" label="(오전)9시00분" selected="">(오전)9시00분
                                                    </option>

                                                    <option value="WORK_TIME_20" label="(오전)9시30분">(오전)9시30분</option>

                                                    <option value="WORK_TIME_21" label="(오전)10시00분">(오전)10시00분</option>

                                                    <option value="WORK_TIME_22" label="(오전)10시30분">(오전)10시30분</option>

                                                    <option value="WORK_TIME_23" label="(오전)11시00분">(오전)11시00분</option>

                                                    <option value="WORK_TIME_24" label="(오전)11시30분">(오전)11시30분</option>

                                                    <option value="WORK_TIME_25" label="(정오)12시00분">(정오)12시00분</option>

                                                    <option value="WORK_TIME_26" label="(오후)12시30분">(오후)12시30분</option>

                                                    <option value="WORK_TIME_27" label="(오후)1시00분">(오후)1시00분</option>

                                                    <option value="WORK_TIME_28" label="(오후)1시30분">(오후)1시30분</option>

                                                    <option value="WORK_TIME_29" label="(오후)2시00분">(오후)2시00분</option>

                                                    <option value="WORK_TIME_30" label="(오후)2시30분">(오후)2시30분</option>

                                                    <option value="WORK_TIME_31" label="(오후)3시00분">(오후)3시00분</option>

                                                    <option value="WORK_TIME_32" label="(오후)3시30분">(오후)3시30분</option>

                                                    <option value="WORK_TIME_33" label="(오후)4시00분">(오후)4시00분</option>

                                                    <option value="WORK_TIME_34" label="(오후)4시30분">(오후)4시30분</option>

                                                    <option value="WORK_TIME_35" label="(오후)5시00분">(오후)5시00분</option>

                                                    <option value="WORK_TIME_36" label="(오후)5시30분">(오후)5시30분</option>

                                                    <option value="WORK_TIME_37" label="(오후)6시00분">(오후)6시00분</option>

                                                    <option value="WORK_TIME_38" label="(오후)6시30분">(오후)6시30분</option>

                                                    <option value="WORK_TIME_39" label="(오후)7시00분">(오후)7시00분</option>

                                                    <option value="WORK_TIME_40" label="(오후)7시30분">(오후)7시30분</option>

                                                    <option value="WORK_TIME_41" label="(오후)8시00분">(오후)8시00분</option>

                                                    <option value="WORK_TIME_42" label="(오후)8시30분">(오후)8시30분</option>

                                                    <option value="WORK_TIME_43" label="(오후)9시00분">(오후)9시00분</option>

                                                    <option value="WORK_TIME_44" label="(오후)9시30분">(오후)9시30분</option>

                                                    <option value="WORK_TIME_45" label="(오후)10시00분">(오후)10시00분</option>

                                                    <option value="WORK_TIME_46" label="(오후)10시30분">(오후)10시30분</option>

                                                    <option value="WORK_TIME_47" label="(오후)11시00분">(오후)11시00분</option>

                                                    <option value="WORK_TIME_48" label="(오후)11시30분">(오후)11시30분</option>

                                                </select>
                                                ~
                                                <select name="endWorkTime" id="endWorkTime" title="종료시간"
                                                    required="required">
                                                    <option value="" label="종료시간">종료시간</option>

                                                    <option value="WORK_TIME_01" label="(자정)0시00분">(자정)0시00분</option>

                                                    <option value="WORK_TIME_02" label="(오전)0시30분">(오전)0시30분</option>

                                                    <option value="WORK_TIME_03" label="(오전)1시00분">(오전)1시00분</option>

                                                    <option value="WORK_TIME_04" label="(오전)1시30분">(오전)1시30분</option>

                                                    <option value="WORK_TIME_05" label="(오전)2시00분">(오전)2시00분</option>

                                                    <option value="WORK_TIME_06" label="(오전)2시30분">(오전)2시30분</option>

                                                    <option value="WORK_TIME_07" label="(오전)3시00분">(오전)3시00분</option>

                                                    <option value="WORK_TIME_08" label="(오전)3시30분">(오전)3시30분</option>

                                                    <option value="WORK_TIME_09" label="(오전)4시00분">(오전)4시00분</option>

                                                    <option value="WORK_TIME_10" label="(오전)4시30분">(오전)4시30분</option>

                                                    <option value="WORK_TIME_11" label="(오전)5시00분">(오전)5시00분</option>

                                                    <option value="WORK_TIME_12" label="(오전)5시30분">(오전)5시30분</option>

                                                    <option value="WORK_TIME_13" label="(오전)6시00분">(오전)6시00분</option>

                                                    <option value="WORK_TIME_14" label="(오전)6시30분">(오전)6시30분</option>

                                                    <option value="WORK_TIME_15" label="(오전)7시00분">(오전)7시00분</option>

                                                    <option value="WORK_TIME_16" label="(오전)7시30분">(오전)7시30분</option>

                                                    <option value="WORK_TIME_17" label="(오전)8시00분">(오전)8시00분</option>

                                                    <option value="WORK_TIME_18" label="(오전)8시30분">(오전)8시30분</option>

                                                    <option value="WORK_TIME_19" label="(오전)9시00분">(오전)9시00분</option>

                                                    <option value="WORK_TIME_20" label="(오전)9시30분">(오전)9시30분</option>

                                                    <option value="WORK_TIME_21" label="(오전)10시00분">(오전)10시00분</option>

                                                    <option value="WORK_TIME_22" label="(오전)10시30분">(오전)10시30분</option>

                                                    <option value="WORK_TIME_23" label="(오전)11시00분">(오전)11시00분</option>

                                                    <option value="WORK_TIME_24" label="(오전)11시30분">(오전)11시30분</option>

                                                    <option value="WORK_TIME_25" label="(정오)12시00분">(정오)12시00분</option>

                                                    <option value="WORK_TIME_26" label="(오후)12시30분">(오후)12시30분</option>

                                                    <option value="WORK_TIME_27" label="(오후)1시00분">(오후)1시00분</option>

                                                    <option value="WORK_TIME_28" label="(오후)1시30분">(오후)1시30분</option>

                                                    <option value="WORK_TIME_29" label="(오후)2시00분">(오후)2시00분</option>

                                                    <option value="WORK_TIME_30" label="(오후)2시30분">(오후)2시30분</option>

                                                    <option value="WORK_TIME_31" label="(오후)3시00분">(오후)3시00분</option>

                                                    <option value="WORK_TIME_32" label="(오후)3시30분">(오후)3시30분</option>

                                                    <option value="WORK_TIME_33" label="(오후)4시00분">(오후)4시00분</option>

                                                    <option value="WORK_TIME_34" label="(오후)4시30분">(오후)4시30분</option>

                                                    <option value="WORK_TIME_35" label="(오후)5시00분">(오후)5시00분</option>

                                                    <option value="WORK_TIME_36" label="(오후)5시30분">(오후)5시30분</option>

                                                    <option value="WORK_TIME_37" label="(오후)6시00분" selected="">(오후)6시00분
                                                    </option>

                                                    <option value="WORK_TIME_38" label="(오후)6시30분">(오후)6시30분</option>

                                                    <option value="WORK_TIME_39" label="(오후)7시00분">(오후)7시00분</option>

                                                    <option value="WORK_TIME_40" label="(오후)7시30분">(오후)7시30분</option>

                                                    <option value="WORK_TIME_41" label="(오후)8시00분">(오후)8시00분</option>

                                                    <option value="WORK_TIME_42" label="(오후)8시30분">(오후)8시30분</option>

                                                    <option value="WORK_TIME_43" label="(오후)9시00분">(오후)9시00분</option>

                                                    <option value="WORK_TIME_44" label="(오후)9시30분">(오후)9시30분</option>

                                                    <option value="WORK_TIME_45" label="(오후)10시00분">(오후)10시00분</option>

                                                    <option value="WORK_TIME_46" label="(오후)10시30분">(오후)10시30분</option>

                                                    <option value="WORK_TIME_47" label="(오후)11시00분">(오후)11시00분</option>

                                                    <option value="WORK_TIME_48" label="(오후)11시30분">(오후)11시30분</option>

                                                </select>
                                                <input type="checkbox" name="workTimeDetailYn" value="Y"
                                                    id="workTimeDetailYn" title="상세" class="ml15 mr3"
                                                    onkeyup="chkByte(this,800);"><label for="workTimeDetailYn"
                                                    class="mr15">상세</label>
                                            </div>
                                            <span class="db cm mt3">일별 근무시간이 일정하지 않은 경우시 <strong
                                                    class="fc_base">'상세'</strong>를 선택할 수 있으며, 요일별 각각의 근무시간을 상세히 입력하셔야
                                                합니다.<br></span>
                                            <textarea name="workTimeDetailContent" id="workTimeDetailContent" cols="50"
                                                rows="5" class="width95p mt5" title="직무내용 입력" readonly="readonly"
                                                onkeyup="chkByte(this,300);"></textarea>
                                            
                                           
                                        </td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                        <!--//근무조건-->

                        <!--전형방법-->
                        <div id="job_summary03" class="mt50">
                            <h4>전형방법</h4>
                            <table border="0" class="tableStyle_thleft col">
                                <colgroup>
                                    <col width="25%">
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th scope="row">접수마감일 <span class="fc_red">*</span></th>
                                        <td>
                                            <div class="item select_wrap calendar">
                                                <input name="acceptEndType" type="radio" id="acceptEndType1"
                                                    value="endDay" title="마감일 지정"
                                                    onclick="fn_selectAcceptEndType(this);" class="mr3"
                                                    required="required"><label for="acceptEndType1" class="mr5">마감일
                                                    지정</label>
                                                <input name="acceptEndDay" type="text" value="" id="acceptEndDay"
                                                    title="접수마감일" class="width40p" readonly="readonly">
                                            </div>
                                            <span class="db mt3"><input name="acceptEndType" type="radio"
                                                    id="acceptEndType2" value="hireDay" title="채용시까지" checked="checked"
                                                    onclick="fn_selectAcceptEndType(this);" required="required"> <label
                                                    for="acceptEndType2">채용시까지(인증일로부터 최대 2개월 이내)</label></span>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">전형방법 <span class="fc_red">*</span></th>
                                        <td class="item">
                                            
                                            <textarea name="selectionMethodContent" id="selectionMethodContent"
                                                cols="50" rows="5" class="width95p mt5" title="기타 전형방법 입력"
                                                readonly="readonly" onkeyup="chkByte(this,800);"></textarea>
                                            <span class="db cm mt3"><br>예 : 1차 서류전형 (결과는 접수 마감일 1주일 후 개별통보)<br>2차 실무자 면접
                                                (결과는 면접일 1주일 후 개별통보)<br>3차 임원진 면접(결과는 면접일 1주일 후 개별통보)</span>

                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                        <!--//전형방법-->

                        <!--채용담당자-->
                        <div class="hirePerson mt50" id="hirePerson1">
                            <h4>채용담당자</h4>
                            <table class="tableStyle_thleft col">
                                <colgroup>
                                    <col width="15%">
                                    <col width="10%">
                                    <col>
                                </colgroup>
                                
                                <tbody>
                                    <tr>
                                        <th colspan="2" scope="row"><label for="manager1">담당자명 <span
                                                    class="fc_red">*</span></label></th>
                                        <td class="item"><input id="manager1" required="required"
                                                name="listVO[0].manager" title="담당자명" class="width30p mr10" type="text"
                                                value="" onkeyup="chkByte(this,20);"> (예 : 홍길동)</td>
                                    </tr>
                                    <tr>
                                        <th colspan="2" scope="row"><label for="managerDep2">부서/직급</label></th>
                                        <td><input id="managerDep2" required="required" name="listVO[0].managerDep"
                                                title="부서/직급" class="width30p mr10" type="text" value=""
                                                onkeyup="chkByte(this,50);"> (예 : 인사팀)</td>
                                    </tr>
                                    <tr>
                                        <th rowspan="2" scope="row" class="pc">연락처</th>
                                        <th scope="row">일반전화</th>
                                        <td>
                                            <div>
                                                <select id="telNum1" name="telNum1" class="width25p" title="앞자리 선택">
                                                    <option value="00">선택</option>

                                                    <option value="02">02</option>

                                                    <option value="031">031</option>

                                                    <option value="032">032</option>

                                                    <option value="033">033</option>

                                                    <option value="041">041</option>

                                                    <option value="042">042</option>

                                                    <option value="043">043</option>

                                                    <option value="044">044</option>

                                                    <option value="049">049</option>

                                                    <option value="051">051</option>

                                                    <option value="052">052</option>

                                                    <option value="053">053</option>

                                                    <option value="055">055</option>

                                                    <option value="061">061</option>

                                                    <option value="062">062</option>

                                                    <option value="063">063</option>

                                                    <option value="064">064</option>

                                                    <option value="070">070</option>

                                                    <option value="010">010</option>

                                                </select>
                                                -
                                                <input id="telNum2" name="telNum2" class="width25p" title="가운데자리"
                                                    onkeyup="onlyNumber(this);" maxlength="4" type="text" value="">
                                                -
                                                <input id="telNum3" name="telNum3" class="width25p" title="끝자리"
                                                    onkeyup="onlyNumber(this);" maxlength="4" type="text" value="">
                                                <input type="hidden" name="listVO[0].telNo">
                                                <span class="cm"><br>전화번호는 채용정보 화면에 공개됩니다</span>
                                            </div>
                                            <div class="mt10"><label for="extensionNo1" class="mr3">내선번호</label> <input
                                                    id="extensionNo1" name="listVO[0].extensionNo" title="내선번호"
                                                    class="width30p" type="text" maxlength="30"
                                                    onkeyup="onlyNumber(this);"></div>
                                            <div class="mt10">
                                                미등록 사유
                                                <textarea name="listVO[0].unregisteredReason" id="unregisteredReason1"
                                                    cols="50" rows="5" class="width95p mt5" title="미등록 사유 입력"
                                                    onkeyup="chkByte(this,300);"></textarea>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="blLine">휴대전화<span class="fc_red">*</span></th>
                                        <td class="item"><select id="mobileNum1" name="mobileNum1" class="width25p"
                                                title="앞자리 선택" required="required">
                                                <option value="">선택</option>
                                                <option value="010">010</option>
                                                <option value="011">011</option>
                                                <option value="016">016</option>
                                                <option value="017">017</option>
                                                <option value="018">018</option>
                                                <option value="019">019</option>
                                            </select>
                                            -
                                            <input id="mobileNum2" name="mobileNum2" class="width25p" title="가운데자리"
                                                onkeyup="onlyNumber(this);" maxlength="4" type="text" value=""
                                                required="required">
                                            -
                                            <input id="mobileNum3" name="mobileNum3" class="width25p" title="끝자리"
                                                onkeyup="onlyNumber(this);" maxlength="4" type="text" value=""
                                                required="required">
                                            <input name="listVO[0].mobileNo" type="hidden">
                                            <div class="mt5">
                                                채용정보에 휴대전화 번호를 공개하시겠습니까?
                                                <span class="db lineH16x">
                                                    <input name="listVO[0].mobileYn" type="radio" id="mobileYn1"
                                                        value="Y" title="휴대전화 번호 공개" checked=""> <label for="mobileYn1"
                                                        class="mr15">예</label>
                                                    <input name="listVO[0].mobileYn" type="radio" value="N"
                                                        title="휴대전화 번호 공개하지 않음" id="mobileYn2"> <label for="mobileYn2"
                                                        class="mr15">아니요</label>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <th colspan="2" scope="row"><label for="email1">이메일<span
                                                    class="fc_red">*</span></label></th>
                                        <td class="item"><input id="emailCd1" name="emailCd1" title="이메일1"
                                                required="required" class="width25p" type="text" maxlength="30"
                                                onkeyup="fn_email(this);" value="">
                                            @
                                            <input id="emailCd2" required="required" name="emailCd2" title="이메일2"
                                                class="width25p" type="text" value="" maxlength="30"
                                                onkeyup="fn_email(this);">
                                            <select name="email_list" id="email_list" onchange="fn_changeEmail(this);"
                                                title="이메일 도메인 선택" class="valid">
                                                <option value="">선택하기</option>

                                                <option value="chol.com">chol.com</option>

                                                <option value="dreamwiz.com">dreamwiz.com</option>

                                                <option value="daum.net">daum.net</option>

                                                <option value="empal.com">empal.com</option>

                                                <option value="freechal.com">freechal.com</option>

                                                <option value="gmail.com">gmail.com</option>

                                                <option value="hanmail.net">hanmail.net</option>

                                                <option value="hanmir.com">hanmir.com</option>

                                                <option value="hitel.net">hitel.net</option>

                                                <option value="hotmail.com">hotmail.com</option>

                                                <option value="korea.com">korea.com</option>

                                                <option value="nate.com">nate.com</option>

                                                <option value="naver.com">naver.com</option>

                                                <option value="orgio.com">orgio.com</option>

                                                <option value="paran.com">paran.com</option>

                                                <option value="sayclub.com">sayclub.com</option>

                                                <option value="shinbiro.com">shinbiro.com</option>

                                                <option value="yahoo.co.kr">yahoo.co.kr</option>

                                                <option value="yahoo.com">yahoo.com</option>

                                                <option value="moel.go.kr">moel.go.kr</option>

                                                <option value="korea.kr">korea.kr</option>

                                                <option value="etc">기타(직접입력)</option>

                                            </select>
                                            <input type="hidden" name="listVO[0].email" id="listVO0.email" value="">
                                            <div class="mt10">
                                                채용정보에 이메일을 공개하시겠습니까?
                                                <span class="db lineH16x">
                                                    <input name="listVO[0].emailYn" type="radio" id="emailYn1"
                                                        title="이메일 공개" value="Y" checked=""> <label for="emailYn1"
                                                        class="mr15">공개</label>
                                                    <input name="listVO[0].emailYn" type="radio" value="N"
                                                        title="이메일 공개하지 않음" id="emailYn2"> <label for="emailYn2"
                                                        class="mr15">비공개</label>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--우대사항-->

                        <!--우대사항-->
                        <div id="job_summary04" class="mt50">
                            <h4>우대사항</h4>
                            <table border="0" class="tableStyle_thleft col">
                                <colgroup>
                                    <col width="25%">
                                    <col>
                                </colgroup>
                                <tbody>
                                    
                                    <tr>
                                        <td><textarea name="etcSweetener" id="etcSweetener" cols="50" rows="5"
                                                class="width95p mt5" title="기타우대사항 입력"
                                                onkeyup="chkByte(this,300);"></textarea></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--//우대사항-->

                <!--버튼-->
                <div class="btns_wrap">
                    <button type="button" class="btn btn-blue" onclick="fn_writeSpmPosting();">작성완료</button>
                    <button type="button" class="btn btn-default-light" onclick="fn_cancel();">취소</button>
                </div>
                <!--//버튼-->
            </article>
            <!--//상세-->
        </div>
        <!--//상세-->
       
</body>

</html>