
<div class="row">
    {% if user.is_authenticated %}
        <button class="btn btn-default btn-sm"
        onclick="location.href='{% url 'gonggo:add' %}'">추가</button>
    {% else %}
        <button class="btn btn-default btn-sm"
        onclick="location.href='{% url 'login' %}'">추가</button>
    {% endif %}
</div>
<div class="row">
    <table class="table table-hover">
        <tr>
            <th class="col-md-1 text-center">번호</th>
            <th class="col-md-2 text-center">채용제목</th>
            <th class="col-md-6 text-center">모집직종</th>
            <th class="col-md-2 text-center">근무예정지</th>
            
        </tr>
        {% for item in gonggo %}
            <tr>
                <td class="col-md-1 text-center">{{ item.id }}</td>
                <td class="col-md-2 text-center">{{ item.title }}</td>
                <td class="col-md-6"><a href="{% url 'gonggo:detail' item.id %}">{{ item.interest }}</a></td>
                <td class="col-md-2 text-center">{{ item.workDetail }}</td>
                
            </tr>
        {% endfor %}
    </table>
</div>

